.list_basic_li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  margin-bottom: 10px;
  padding: 16px 20px;
  width: 100%;
  gap: 12px;
}
.list_lat_ca {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  color: rgb(48, 176, 153);
  background: rgb(245, 245, 245);
}
.list_lat .lt_more {position:absolute;top:11px;right:10px;display:block;width:25px;line-height:25px;color:#aaa;border-radius:3px;text-align:center;}
.list_lat .lt_more:hover{color:#777}


.lat_tit_o {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: rgb(234, 81, 40);
  right: 7px;
}

.lat_tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}