@charset "utf-8";

.cm_gnuboard_latest_gallery_thumbnail { position:relative; overflow:hidden; }

.cm_gnuboard_latest_gallery_thumbnail a {
  color:#000; text-decoration:none;
	-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;
}
.cm_gnuboard_latest_gallery_thumbnail div.gallery {
	-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;-ms-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;
}

div.cm-gallery {
  position:relative;
  overflow:hidden;
}

div.cm-gallery img {
  width: 100%;
  height: 350px;
}
div.cm-gallery img.thumb {
  position:absolute; top:0px; left:0px; display:inline-block;
}

div.cm-desc {
  position:relative;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
/* identical to box height */
  color: #26E2B3;
}

* {
  box-sizing: border-box;
}

.cm-responsive {
  float: left;
  width: 31%;
  margin-bottom: 60px;
}

.cm-slide_title.cut {
    margin-top: 10px;
}
.cm_background{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.cm_title{
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.cm_background>div:nth-child(2) {margin: 0px 50px 0px 0px;}
.cm_background>div:nth-child(3) {margin: 0px 50px 0px 0px;}
.cm_background>div:nth-child(5) {margin: 0px 50px 0px 0px;}
.cm_background>div:nth-child(6) {margin: 0px 50px 0px 0px;}
.cm_background>div:nth-child(8) {margin: 0px 50px 0px 0px;}
.cm_background>div:nth-child(9) {margin: 0px 50px 0px 0px;}

@media all and (max-width:1440px){
  .cm-responsive{
    width: 30%;
}

}
@media all and (max-width:1024px){

  div.cm-gallery img {
    height: 200px;
  }
  .cm-responsive{
    width: 29%;
}
.cm_background>div:nth-child(2) {margin: 0px 62px 0px 0px;}
.cm_background>div:nth-child(3) {margin: 0px 62px 0px 0px;}
.cm_background>div:nth-child(5) {margin: 0px 62px 0px 0px;}
.cm_background>div:nth-child(6) {margin: 0px 62px 0px 0px;}
.cm_background>div:nth-child(8) {margin: 0px 62px 0px 0px;}
.cm_background>div:nth-child(9) {margin: 0px 62px 0px 0px;}
}
